<div class="bh_banner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 my-3">
                <h1 class="display-3 mb-3 fw-normal">
                    Discover our latest<br>
                    <u class="text-warning">
                        <span class="bh_blue_body_text fw-bold">Articles, Feature, Releases
                            and More!
                        </span>
                    </u>
                </h1>
                <a class="btn bh_btn_red bh_btn_radius btn-lg" (click)="navigateToBlogs()">Start reading</a>
            </div>
            <div class="col-md-6">
                <div>
                    <!-- <div class="position-absolute top-50 start-0 translate-middle d-md-block">
                        <img src="assets/images/banner/dot.svg" alt="dot">
                    </div>
                    <img src="{{homePageBanner}}" alt="online course"
                        class="img-fluid rounded-1 w-100 bh_z_1 position-relative">
                    <div class="position-absolute top-50 start-50 translate-middle d-md-block">
                        <img src="assets/images/banner/dot.svg" alt="dot">
                    </div> -->

                    <div class="position-absolute top-50 start-0 translate-middle d-md-block">
                        <img src="assets/images/banner/dot.svg" alt="dot">
                    </div>
                    <div class="mt-8 mt-lg-0 position-relative">
                        <div class="position-absolute top-0 start-0 translate-middle d-none d-md-block">
                            <img src="assets/images/banner/dot.svg" alt="graphics-2">
                        </div>
                        <img src="{{homePageBanner}}" alt="online course"
                            class="img-fluid rounded-1 w-100 bh_z_1 position-relative">
                        <div class="position-absolute top-100 start-100 translate-middle d-md-block">
                            <img src="assets/images/banner/dot.svg" alt="graphics-1">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>