<div class="modal-header border-0" ngbAutofocus="false">
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <h1 class="py-1 text-center">
        <span class="bh_blue_body_text fs-2 fw-bold">Reset&nbsp;</span>
        <span class="bh_red_body_text fs-2 fw-bold">password.</span>
    </h1>
    <form [formGroup]="resetPasswordForm" novalidate autocomplete="off" *ngIf="!submitted">
        <div>
            <div class="container py-3">
                <div>

                    <div class="form-group mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" formControlName="email" tabindex="1"
                            (keypress)="checkWhiteSpace($event)"
                            [ngClass]="{'has-error': resetPasswordForm.controls['email'].errors}">
                        <div
                            *ngIf="resetPasswordForm.controls['email'].errors && resetPasswordForm.controls['email'].touched">
                            <span
                                *ngIf="resetPasswordForm.controls['email'].errors && resetPasswordForm.controls['email'].errors.required"
                                class="text-danger">
                                Please enter email
                            </span>
                            <span
                                *ngIf="resetPasswordForm.controls['email'].errors && resetPasswordForm.controls['email'].errors.pattern"
                                class="text-danger">
                                Please enter valid email
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-2 d-flex align-items-center justify-content-center">
                    <div class="d-flex align-items-center justify-content-center mt-2 mb-2">
                        <h6 class="card-title">
                            <a href="javascript:void(0);" class="bh_blue_body_text title_animation" (click)="navigateToLogin()">Back to
                                Sign in</a>
                        </h6>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <button type="submit" class="btn bh_btn_blue bh_btn_radius" (click)="submitForm()">Reset
                            Password</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div *ngIf="submitted">
        <div class="d-flex align-items-center justify-content-center">
            <img src="assets/images/blog/reset-password.gif" width="130" alt="BlogHub">
        </div>
        <div class="d-flex align-items-center justify-content-center text-center flex-column py-2">
            <h6>
                Password link sent, Please check your email.
            </h6>
            <button type="button" class="btn bh_btn_blue bh_btn_radius my-2" (click)="navigateToLogin()">Back to Sign
                in</button>
        </div>
        <div class="d-flex align-items-center justify-content-center">
            <img src="assets/images/logo/final-logo.png" width="70" alt="BlogHub">
        </div>
    </div>
</div>