.profile-menu {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    background-color: #ffffff;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.profile-menu:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Profile Icon styling */
.profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #5b4b8a;
    /* Purple color */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
}

.avatar-sm {
    height: 3.5rem;
    width: 3.5rem;
    position: relative;
    display: inline-block !important;
}

.avatar-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}