<div class="container bh_profile_header_section">
    <nav class="navbar navbar-expand-lg rounded bh_navbar navbar-light bg-light">
        <div class="container">

            <a class="navbar-brand d-flex align-items-center justify-content-between pe-3" routerLink="/">
                <img src="assets/images/logo/final-logo.png" class="me-3" width="70" alt="BlogHub">
                <span class="bh_blue_body_text fs-2 fw-bold">Blog</span><span
                    class="bh_red_body_text fs-2 fw-bold">Hub</span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09"
                aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample09">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">

                    <li class="nav-item px-1" *ngIf="!isAuthenticated">
                        <a class="nav-link bh_blue_body_text" routerLinkActive="active" routerLink=""
                            [routerLinkActiveOptions]="{exact:true}">
                            Home
                        </a>
                    </li>
                    <li class="nav-item px-1">
                        <a class="nav-link bh_blue_body_text" routerLinkActive="active" routerLink="#"
                            [routerLinkActiveOptions]="{exact:true}">
                            Our Story
                        </a>
                    </li>
                    <li class="nav-item px-1">
                        <a class="nav-link bh_blue_body_text" routerLinkActive="active" routerLink="#"
                            [routerLinkActiveOptions]="{exact:true}">Contact us</a>
                    </li>
                    <li class="nav-item px-1" *ngIf="!isAuthenticated">
                        <a class="nav-link bh_blue_body_text c-pointer" (click)="navigateToSignIn()">Sign in</a>
                    </li>
                    <li class="nav-item ms-3 dropdown" *ngIf="isAuthenticated">
                        <a class="avatar avatar-sm p-0" href="javascript:void(0);" id="profileDropdown" role="button"
                            data-bs-auto-close="true" data-bs-display="static" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img class="avatar-img" referrerpolicy="no-referrer"
                                src="{{currentUser && currentUser.photoURL ? currentUser.photoURL : defaultProfileIcon.image}}"
                                alt="avatar">
                        </a>

                        <ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow p-3 profileDropdown">
                            <li class="px-3 mb-3">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-sm me-3">
                                        <img class="avatar-img rounded-circle shadow" referrerpolicy="no-referrer"
                                            src="{{currentUser && currentUser.photoURL ? currentUser.photoURL : defaultProfileIcon.image}}"
                                            alt="avatar">
                                    </div>
                                    <div>
                                        <a class="h6 mt-2 mt-sm-0"
                                            href="javascript:void(0);">{{currentUser.displayName}}</a>
                                        <p class="small m-0">{{currentUser.email}}</p>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="javascript:void(0);" routerLinkActive="active"
                                    routerLink="user/my-profile" [routerLinkActiveOptions]="{exact:true}"><i
                                        class="fa-solid fa-user-tie fa-fw me-2"></i>My
                                    Profile</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                        class="fa-regular fa-rectangle-list fa-fw me-2"></i>My Posts</a>
                            </li>
                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                        class="bi bi-gear fa-fw me-2"></i>Settings</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);"><i
                                        class="bi bi-info-circle fa-fw me-2"></i>Help
                                    Center</a></li>
                            <li><a class="dropdown-item bg-danger-soft-hover" href="javascript:void(0);"
                                    (click)="logout()"><i class="fa-solid fa-right-from-bracket fa-fw me-2"></i>Sign
                                    Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</div>