<!-- <p>bh-footer works!</p> -->
<footer class="border-top border-dark">
    <div class="container">
        <div class="row align-items-center py-2 py-sm-3">
            <div class="col-md-12">
                <div class="d-sm-flex text-nowrap justify-content-center justify-content-center">
                    <div class="nav flex-nowrap justify-content-center justify-content-sm-start mb-3 mb-sm-0">
                        <a class="nav-link fw-normal py-0 px-3 bh_blue_body_text" href="javascript:void(0);">Our Story</a>
                        <a class="nav-link fw-normal py-0 px-3 bh_blue_body_text" href="javascript:void(0);">Contact us</a>
                        <a class="nav-link fw-normal py-0 px-3 bh_blue_body_text" href="javascript:void(0);">Admin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>